/*!
 * Meteocons
 * A set of weather icons, all in a single font, made with love by Alessio Atzeni
 * http://www.alessioatzeni.com/meteocons/
 */

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('https://raw.githubusercontent.com/alexanderhorner/font-files/master/fonts/Meteocons.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/alexanderhorner/font-files/master/fonts/Meteocons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'MeteoconsRegular';
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mc {
    font-family: 'MeteoconsRegular';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 48px;
    color: #4a90e2;
    display: inline-block;
}

/* Taille personnalisée */
.mc-lg {
    font-size: 64px;
}

.mc-sm {
    font-size: 32px;
}

/* Couleurs personnalisées */
.mc-sunny {
    color: #f1c40f;
}

.mc-rainy {
    color: #3498db;
}

.mc-stormy {
    color: #9b59b6;
}

.mc-snowy {
    color: #ecf0f1;
    text-shadow: 0 0 2px #7f8c8d;
}

.mc-foggy {
    color: #bdc3c7;
}

.mc-night {
    color: #2c3e50;
}
